body {
    background-color: rgb(209, 163, 154);
}

h1{
    text-shadow: 3px 3px black;
}
p{
    text-shadow: 2px 2px black;
}

label{
    text-shadow: 2px 2px black;
}

form{
    max-width: 600px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    background-color: rgb(196, 99, 2);
    color: rgb(252, 234, 213);
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border: 2px solid black;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    margin: 4px 0;
}
th {
    text-shadow: 2px 2px black;
}
td {
    border: 1px solid black;
    padding: 10px 15px;
    text-shadow: 2px 2px black;
    color: rgb(252, 234, 213)
  }

input[type=text] {
    width: 40%;
    max-width: 300px;
    padding: 10px;
    margin: 4px 0;
    border-radius: 25px;
    border: 2px solid rgb(18, 24, 186);
    box-sizing: border-box;
  }
  input[type=text]:hover {
    width: 40%;
    max-width: 300px;
    padding: 10px;
    margin: 4px 0;
    border-radius: 25px;
    border: 3px solid red;
    box-sizing: border-box;
  }

  input[type=date] {
    width: 40%;
    max-width: 200px;
    padding: 10px;
    margin: 4px 0;
    border-radius: 25px;
    border: 2px solid rgb(18, 24, 186);
    box-sizing: border-box;
  }
  input[type=date]:hover {
    width: 40%;
    max-width: 200px;
    padding: 10px;
    margin: 4px 0;
    border-radius: 25px;
    border: 3px solid red;
    box-sizing: border-box;
  }




  input[type=submit] {
    padding: 5px;
    margin: 4px 0;
    background-color: rgb(144, 179, 255);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
  }
  input[type=submit]:hover {
    padding: 5px;
    margin: 4px 0;
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
  }

  
  #completeButton:hover {
    background-color: green;
    color: white;
  }

  #deleteButton:hover {
    background-color:yellow;
    color: black;
  }

  #clearButton:hover {
    background-color: red;
    color: white;
  }